body {
    border-radius: 25px;
    background-image: url('bg.png');
    height: 110px;
    width: 150px;
}

.label {
  font-family: helvetica, arial;
  font-weight: bold;
  font-size: 14;
  color: white;
}
.value {
  font-family: helvetica, arial;
  font-weight: lighter;
  font-size: 14;
  color: white;
}
.error {
  font-family: helvetica, arial;
  font-weight: normal;
  font-size: 12;
  color: white;
}
